USE [master]
GO
/****** Object:  Database [FSTest]    Script Date: 03.05.2023 19:02:07 ******/
CREATE DATABASE [FSTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Main', FILENAME = N'C:\FSFiles\FS_main.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB ), 
 FILEGROUP [FileStreamGroup1] CONTAINS FILESTREAM  DEFAULT
( NAME = N'FSFiles', FILENAME = N'C:\FSFiles\FS_files' , MAXSIZE = UNLIMITED)
 LOG ON 
( NAME = N'Archlog1', FILENAME = N'C:\FSFiles\FS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FSTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FSTest]
GO
/****** Object:  Table [dbo].[FileSamples]    Script Date: 03.05.2023 19:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FileSamples](
	[FileId] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[FileName] [varchar](20) NOT NULL,
	[FileData] [varbinary](max) FILESTREAM  NULL DEFAULT (0x),
UNIQUE NONCLUSTERED 
(
	[FileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] FILESTREAM_ON [FileStreamGroup1]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[FileSamples] ([FileId], [FileName], [FileData]) VALUES (N'80663dc2-03a7-4955-9fe4-69aafc6a5d68', N'', 0x)
USE [master]
GO
